<!DOCTYPE html>
<html>
<head>
    <title>Mini Blog</title>
    <link rel="stylesheet" type="text/css" href="external/style.css">
</head>
<body>
	<h1>Mini Blog</h1>
	<br>
        <table>
			<tr>
			<th>
				<form method="post" action="index.php">
				<input type="submit" name="old" value="Von Alt nach Neu sortieren">
				</form>
			</th>
			<th>
				<form method="post" action="index.php">
				<input type="submit" name="new" value="Von Neu nach Alt sortieren">
				</form></th>
			</tr>
		</table>
		<hr>
</body>
</html>