<!DOCTYPE html>
<html>
<head>
    <title>Mini Blog</title>
    <link rel="stylesheet" type="text/css" href="external/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
    <div id="contentwrapper">
        <header>
                <a href="./"><h1>Mini Blog</h1></a>
        </header>
        <div id="content">
            <!--f-->
        </div>
        <div id="footer"><a href="./templates/editpage.html">Neuer Blogeintrag</a> Anpassen</div>
    </div>
</body>
</html>
